 body {
            text-align: center;
        }


        img {
            margin: 0 auto;
            display: block;
        }

        body {
            font-family: 'Arial', sans-serif; /* Schimbarea fontului implicit al întregii pagini la Arial */
        }

        h1, h2, h3, h4 h5 {
            font-family: 'Times New Roman', serif; /* Schimbarea fontului pentru toate titlurile la Times New Roman */
        }

        body {
            background-color: darkgreen; /* Codul hexadecimal pentru o nuanță de albastru */
        }

        h1 {
            color: white;
        }

        h2 {
            color: white;
        }

        h3 {
            color: white;
        }
        h5 {
            color: white;
        }

        img {
            margin-bottom: 20px; /* Adăugare spațiu între imagine și tabel */
            display: block;
            width: 20%;
            height: auto;
            border: 10px solid white; /* Grosimea și culoarea ramei */
            border-radius: 15px; /* Rotunjirea colțurilor ramei */
            box-sizing: border-box; /* Asigură că borderul nu afectează dimensiunile totale ale imaginii */
        }

        body {
            font-family: 'Pacifico', cursive;
            padding: 20px;
            text-align: center; /* Centrare orizontală pentru a evidenția titlul */
        }

        h5 {
            font-size: 20px;
            letter-spacing: 3px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            margin-bottom: 30px;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px;
        }

        thead {
            background-color: #9ACD32;
        }

        th {
            padding: 15px;
            text-align: left;
            border: 3px solid #000;
            border-radius: 15px;
            color: white; /* culoarea textului in antetul tabelului */
        }

        td {
            padding: 15px;
            text-align: left;
            border: 3px solid #000;
            border-radius: 10px;
            background-color: #9ACD32;
            color: white; /* culoarea textului in celulele tabelului */
        }

        body {
            text-align: center; /* Centrare orizontală a conținutului paginii */
        }

        table {
            margin: 0 auto; /* Margin: 0 auto pentru a centra orizontal tabelul */
        }

        th, td {
            text-align: left; /* Aliniere la stânga a conținutului celulelor */
            padding: 10px; /* Adăugare spațiere între conținut și marginea celulelor */
            border: 1px solid #000; /* Adăugare bordură celulelor pentru vizibilitate */
        }

        table {
            margin: 0 auto; /* Margin: 0 auto pentru a centra orizontal tabelul */
        }

        th, td {
            text-align: center; /* Aliniere la stânga a conținutului celulelor */
            padding: 10px; /* Adăugare spațiere între conținut și marginea celulelor */
            border: 1px solid #000; /* Adăugare bordură celulelor pentru vizibilitate */
        }
        th, td {
            text-align: center; /* Aliniere la stânga a conținutului celulelor */
            padding: 10px; /* Adăugare spațiere între conținut și marginea celulelor */
            border: 1px solid #000; /* Adăugare bordură celulelor pentru vizibilitate */
        }

        ul, ol {
            padding: 10px;
            margin: 10px 0;
            border-radius: 10px;
            background-color: darkgreen; /* culoarea de fundal pentru ambele tipuri de liste */
            list-style-position: inside; /* asezare buline/numere in interiorul listei */
        }

        li {
            font-size: 18px;
            margin-bottom: 5px;
            color: white; /* culoarea textului */
        }